body {
    background-color: rgb(255,255,230);
}

* {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}

.title {
    font-size: 32px;
    font-weight: 900;
}
.subtitle {
    font-size: 24px;
    font-weight: 700;
}

.description, .Types, .Global-Functions {
    font-weight: 600;
    background-color: rgb(200,200,255);
    border: 2px;
    border-style: double;
    border-color: black;
    outline-color: grey;
}

.Types {
    background-color: rgb(200,255,200);
}

.Global-Functions {
    background-color: rgb(200,255,200);   
}

.Anchor {
    font-weight: 800;
}

.Type {
    background-color: rgb(255,255,200);
    border-style: double;
    border-width: 2;
    outline-style: double;
    outline-width: 1;
    outline-color: grey;
}

.Property, .Function {
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-style: double;
    border-color: black;
    border-width: 2px;
}

.Member-Desc {
    font-weight: 400;
    margin-left: 20px;
    font-style: italic;
}

.Function {
    background-color: white;
}

#TPGLTimerList {
    list-style: none;
}